@mixin mobile {
    @media screen and (max-width:480px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width:768px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width:1220px) {
        @content;
    }
}

.formContainer {
    background-color: #2B3467;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper {
        background-color: #EB455F;
        padding: 20px 60px;
        border-radius: 10px;
        flex-direction: column;
        display: flex;
        gap: 10px;
        align-items: center;

        .logo {
            color: white;
            font-weight: bold;
            font-size: 24px ;
        }

        .title {
            color: white;
            font-weight: bold;
            font-size: 15px ;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                padding: 10px;
                border: none;
                width: 250px;
                border-radius: 10px;
                border-bottom: 3px solid #2B3467;
            
                &::placeholder {
                    color: rgb(175, 175, 175);
                }
            }
            button {
                background-color: #2B3467;
                color: white;
                padding: 10px;
                border: none;
                border-radius: 10px;
                font-weight: bold;
                cursor: pointer;
                &:hover {
                    color: #2B3467;
                    background-color: white;
                }
            }
            label {
                display: flex;
                align-items: center;
                gap: 10px;
                color: white;
                font-size: small;
                cursor: pointer;

                img {
                    width: 32px;
                }
            }
        }
        p {
            color: white;
            margin-top: 10px;
        }
    }
}

.home {
    background-color: #2B3467;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        border: 1px solid white;
        border-radius: 5px;
        width: 90%;
        height: 80%;
        display: flex;
        overflow: hidden;
        @include tablet{
            width: 90%;;
        }

        .sidebar {
            flex: 1;
            background-color: #3f4c91;
            position: relative;

            .navbar {
                display: flex;
                align-items: center;
                background-color: #EB455F;
                height: 50px;
                padding: 10px;
                justify-content: space-between;
                color: #2B3467;

                .logo { 
                    font-weight: bold;
                    @include tablet{
                        display: none;
                    }
                }

                .user {
                    display: flex;
                    gap: 10px;
                    font-weight: bold;

                    img {
                        background-color: #2B3467;
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        object-fit: curve;
                    }

                    button {
                        background-color: #2B3467;
                        color: white;
                        font-size: 10px;
                        border-radius: 5px;
                        border: none;
                        cursor: pointer;
                        @include tablet{
                            position: absolute;
                            bottom: 10px;
                        }
                    }
                }
            }
        }

        .search {
            border-bottom: 1px solid gray;

            .searchForm {
                padding: 10px;

                input {
                    background-color: transparent;
                    border: none;
                    color: white;
                    outline: none;

                    &::placeholder {
                        color: white;
                    }
                }
            }
        }
        .userChat {
            padding: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
            color: white;
            cursor: pointer;

            &:hover {
                background-color: #2B3467;
            }

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: curve;
            }

            .userChatInfo {
                span {
                    font-size: 18px;
                    font-weight: bold;
                }
                p {
                    font-size: 13px;
                    color: light gray;
                }
            }
        }

        .chat {
            flex: 2;

            .chatInfo {
                height: 50px;
                background-color: #2B3467;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                color: white;
            }

            .chatIcons {
                display: flex;
                gap: 10px;
            
                img {
                    height: 24px;
                    cursor: pointer;
                }
            }
            .messages {
                background-color: #EB455F;
                padding: 10px;
                height: calc(100% - 160px);
                overflow: scroll;

                .message {
                    display: flex;
                    gap: 20px;
                    margin-bottom: 20px;

                    .messageInfo {
                        display: flex;
                        flex-direction: column;
                        color: white;
                        font-weight: 200;

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                    
                    .messageContent {
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        p {
                            background-color: white;
                            padding: 10px 20px;
                            border-radius: 0px 10px 10px 10px;
                        }

                        img {
                            width: 50%;
                        }
                    }

                    &.owner {
                        flex-direction: row-reverse;

                        .messageContent {
                            align-items: flex-end;
                        }

                        p {
                            background-color: #3f4c91;
                            color: white;
                            border-radius: 10px 0px 10px 10px;
                            max-width: max-content;
                        }
                    }
                }
            }
            .input {
                height: 50px;
                background-color: white;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    color: #2B3467;

                    &::placeholder {
                        color: light gray;
                    }
                }
                .send {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        height: 24px;
                        cursor: pointer;
                    }
                    
                    button {
                        border: none;
                        padding: 10px 15px;
                        color: white;
                       background-color: #2B3467;
                        cursor: pointer;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}